.memory-container {
  position: relative;
  width: 100%;
  max-width: 200px;
  display: flex;
  justify-content: center;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 97%;
  transition: .5s ease;
}

.first {
  bottom: 2.5%;
  background: rgb(89, 8, 220);
  background: rgba(89, 8, 220, 0.5); /* See-through */
  border-bottom-left-radius: 37px;
  border-bottom-right-radius: 37px;
}

.second {
  background: rgb(236, 127, 25);
  background: rgba(236, 127, 25, 0.5); /* See-through */
}

.third {
    background: rgb(12, 198, 28);
    background: rgba(12, 198, 28, 0.5); /* See-through */
}

.fourth {
    background: rgb(216, 8, 126);
    background: rgba(216, 8, 126, 0.5); /* See-through */
}

.fifth {
    background: rgb(8, 31, 183);
    background: rgba(8, 31, 183, 0.5); /* See-through */
}

.memory-container .overlay {
  opacity: 1;
}

#memory-input-button, #create-jar-button{
  max-width: 100px;
  max-height: 60px;
}

.memory_jar_buttons{
  display: block;
  position: absolute;
  left: 58vw;
  top: 50vh;
}

#memory-input{
  max-width: 30%;
  margin-right: 15px;
}

.memory_inputs{
  display: block;
  position: absolute;
  left: 30vw;
  top: 30vh;
}