.circle {
  position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition effect */
    right: 20vw;
  
    /* Add some additional styling to make the text white and center it */
    color: white;
    font-weight: bold;
    text-align: center;
  }
  
  .circle:hover {
    background-color: darkred; /* Darken the background on hover */
  }
  