.button {
  border-radius: 20px;
  border: 2px solid #3e6eb4;
  color: white;
  background: #3e6eb4;
  padding: 0% 8%;
  align-items: center;
  justify-content: center;
  width: fit-content;
  z-index: 1;
}

.light {
  color: #3e6eb4;
  background: white;
}

.media-span {
  font-size: 25px;
  margin-right: 1%;
}

#volcano-go-button {
  margin: 0 !important;
}
