body {
    margin: 0;
    overflow: hidden;
}

.dot-container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.dot {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
}